body
{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: MontserratBlack;
    src: url(../fonts/Montserrat-Black.ttf);
}
a
{
	text-decoration: none;
    color: inherit;
}
.headline
{
	font-family: MontserratBlack;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.button
{
	display: block;
	text-align: center;
	font-family: MontserratBold;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	width: auto;
	background-color: #FF7D8B;
	cursor: pointer;
	transition-duration: 0.3s;
	font-size: 1.2rem;
}
.button:hover
{
	background-color: #FF6B7B;
	box-shadow: 0 0 6px 1px gray;
}
.wrapper
{
	max-width: 1200px;
	min-height: 95vh;
	margin: auto;
	padding-top: 100px;
}
.page-headline
{
	font-family: MontserratBlack;
	font-size: 1.5rem;
}
.page-hr
{
	border: none;
	height: 0.5px;
	background-color: #A1A1A1;
}
.way
{
	color: #ACACAC;
	font-size: 0.8rem;
	margin-bottom: 25px;
}
.way a 
{
	text-decoration: underline;
}


.banner
{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;	
	margin-bottom: 100px;
}
.banner__text
{
	position: relative;
	left: 120px;
	top: 40px;
	text-align: center;
	width: 230px;
	font-family: MontserratBold;
	font-size: 1.2rem;
	color: white;
}
.price-category
{
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
}
.price-category_el
{
	width: auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 20px;
	font-family: MontserratBold;
	font-size: 1.3rem;
	color: white;
	background-color: #FF7D8B;
	border-radius: 6px;

}
.price-category_el:hover
{
	font-size: 1.45rem;
	transition-duration: 0.3s;
	box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
}


.index-photo
{
	margin: 130px 0;
}
.index-photo__headline
{
	text-align: center;
	font-size: 1.4rem;
	font-family: MontserratBold;
	margin-bottom: 30px;
}
.index-photo_container
{
	display: grid;
	grid-template-columns: repeat(4, 280px);
	grid-template-rows: repeat(2, 280px);
	justify-content: center;
	grid-gap: 25px;
}
.index-photo_single
{
	overflow: hidden;
}
.index-photo_long-vert
{
	grid-row: 1/3;
	overflow: hidden;
}
.index-photo_long-horiz-top
{
	grid-column: 3/5;
	overflow: hidden;
}
.index-photo_long-horiz-bottom
{
	grid-column: 2/4;
	overflow: hidden;
}
.index-photo__img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition-duration: 0.3s;
	display: block;
}
.index-photo__img:hover
{
	transform: scale(1.2);
}
.index-photo_quote
{
	display: grid;
	grid-template-columns: 22px 300px 22px;
	grid-template-rows: 22px auto 22px;
	position: relative;
	justify-content: center;
	margin-bottom: 30px;
}
.index-photo_quote__image
{
	width: 22px;
	height: 22px;
	background-size: cover;
	background-position: center;
	grid-column: 1/4;
}
.index-photo_quote__text
{
	grid-column: 2/3;
	text-align: center;
	font-style: italic;
	font-size: 1.1rem;
}
.index-photo_quote__image_right
{
	position: absolute;
	right: 0;
	bottom: 0;
}


.reviews_container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	justify-content: space-between;
}
.reviews_card
{
	height: 500px;
	background-color: red;
}
.reviews_card__img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition-duration: 0.3s;
	cursor: pointer;
}
.reviews_card__img:hover
{
	transform: scale(1.3);
}
.reviews_subscribe
{
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-areas: auto auto auto;
	font-size: 1.2rem;
	margin-top: 40px;
}
.reviews_subscribe__arrow
{
	grid-row: 2/4;
	grid-column: 2/4;
	background-size: cover;
	background-position: center;
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
.reviews_subscribe_button
{
	grid-column: 2/4;
}

.index-contact
{
	display: grid;
	grid-template-columns: auto 450px;
	grid-column-gap: 50px;
	margin: 120px 0 150px 0;
	justify-content: center;
}
.index-contact_image img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
}

.index-contact_form__input
{
	display: block;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	padding: 12px;
	margin: 22px 0;
	font-family: Montserrat;
	width: 300px;
	font-size: 1.1rem;
}



.catalog_container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	justify-content: space-between;
	grid-row-gap: 25px;
	margin: 40px 0;
}
.catalog_card
{
	width: 100%;
	height: 380px;
	background-color: white;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	overflow: hidden;
	transition-duration: 0.3s;
}
.catalog_card:hover
{
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
	transform: scale(1.02);
}
.catalog_card img
{
	object-fit: cover;
	width: 100%;
	height: 250px;
}
.catalog_card__text
{
	font-size: 1.2rem;
	text-align: center;
	padding: 15px 10px;
}