<!DOCTYPE html>
<html>
<head>
{% load static %}
	<meta charset="utf-8">
	<title>FloPlace | Пользовательское соглашение</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'web/img/favicon.ico' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="Description" content="Частное детективное агество в г. Хабаровск">
    <meta name="Keywords" content="Цветы, СПб, Питер"> 
    <meta property="og:title" content="FloPlace - Цветы Санкт-Петербург" /> 
    <meta property="og:description" content="FloPlace - Магазин по продаже качественных цветов в Санкт-Петербурге" /> 
    <meta property="og:image" content="{% static 'web/img/logo.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
</head>
<body>
	{% block content %}
	{% include 'include/header.html' %}
	<div class="wrapper">
		<h1>Пользовательское Соглашение</h1>
		Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем (далее floplace.ru или Администрация) с одной стороны и пользователем сайта с другой.<br>
		Сайт floplace.ru не является средством массовой информации.
		<br><br>
		Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
		<b>Если Вы не согласны с условиями данного соглашения, не используйте сайт floplace.ru !</b>

		<h2>Права и обязанности сторон</h2>
		<h3>Пользователь имеет право:</h3>
		- осуществлять поиск информации на сайте<br>
		- получать информацию на сайте<br>
		- копировать информацию на другие сайты с указанием источника<br>
		- использовать информацию сайта в личных некоммерческих целях<br>

		<h3>Администрация имеет право:</h3>
		- по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
		- ограничивать доступ к любой информации на сайте<br>
		- создавать, изменять, удалять информацию<br>

		<h3>Пользователь обязуется:</h3>
		- обеспечивать сохранность личных данных от доступа третьих лиц<br>
		- не нарушать работоспособность сайта<br>
		- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br>

		<h3>Администрация обязуется:</h3>
		- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br>

		<h2>Ответственность сторон</h2>
		- пользователь лично несет полную ответственность за распространяемую им информацию<br>
		- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников<br>
		- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг<br>
		- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
		- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br>

		<h2>Условия действия Соглашения</h2>
		Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
		Соглашение перестает действовать при появлении его новой версии.<br>
		Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br>
		Администрация не оповещает пользователей об изменении в Соглашении.<br><br>
	</div>
	{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>

