<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>FloPlace | Каталог</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="Description" content="Частное детективное агество в г. Хабаровск">
    <meta name="Keywords" content="Цветы, СПб, Питер"> 
    <meta property="og:title" content="FloPlace - Цветы Санкт-Петербург" /> 
    <meta property="og:description" content="FloPlace - Магазин по продаже качественных цветов в Санкт-Петербурге" /> 
    <meta property="og:image" content="{% static 'web/img/logo.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
</head>
<body>
	{% block content %}
		{% include 'include/header.html' %}

		<div class="wrapper">

			<div class="way">
				<a href="/">Главная</a> / Каталог
			</div>
			<div class="page-headline">
				Каталог
			</div>
			<hr class="page-hr">

			<div class="catalog_container">
				{% for Category in category %}
				<a href="{{Category.id}}">
					<div class="catalog_card">
						<img src="{{Category.Image.url}}">
						<div class="catalog_card__text">
							{{Category.Name}}
						</div>
					</div>
				</a>
				{% endfor %}
			</div>

		</div>

		{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>