<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Fleur Narcotique</title>
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
</head>
<body>	
	{% block content %}
		{% include 'include/header.html' %}
		<div class="wrapper">

			<div class="way">
				<a href="/">Главная</a> / Контакты
			</div>		
			<div class="page-headline">
				Контакты
			</div>
			<hr class="page-hr">


			<div class="contacts_staff__container">
				<div class="contacts_staff">
					<div class="contacts_staff__image">
						<img src="{% static 'web/img/nat.jpg' %}">
					</div>
					<div class="contacts_staff_name">
						Наталия
					</div>
					<div class="contacts_staff_position">
						Должность
					</div>
				</div>
			</div>

			<div class="contacts_staff_map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22360.470731893234!2d30.394540762960432!3d60.06932374968874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4697cbdaa63f311b%3A0xf9289218d0d21c2!2zU2hla3NwaXJhIHN0ciwgMywg0JHRg9Cz0YDRiywg0JvQtdC90LjQvdCz0YDQsNC00YHQutCw0Y8g0L7QsdC7LiwgMTg4NjYw!5e0!3m2!1sru!2sru!4v1635837377512!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
			</div>

			<div class="contacts_staff_info">
				<div class="contacts_staff_info_address">
					<div class="contacts_staff_info__headline">
						Адрес
					</div>
					<div class="contacts_staff_info_address_info">
						<div>Россия, Санкт-Петербург<br>
						ул. Шекспира, д.3</div>
						<div><b>Тел.: </b>+7 (924) 170-10-00</div>
						<div><b>Часы работы: </b>10:00 - 22:00</div>
					</div>
					<div class="contacts_staff_info_social">
						<div class="contacts_staff_info_social__logo">
							<img src="{% static 'web/img/icons/instagram.png' %}">
						</div>
						<div class="contacts_staff_info_social__login">
							 fleur_narcotique_spb
						</div>
						<div class="contacts_staff_info_social__logo">
							<img src="{% static 'web/img/icons/mail.png' %}">
						</div>
						<div class="contacts_staff_info_social__login">
							 mail
						</div>
					</div>
				</div>
				<div>
					{% include 'include/contactus.html' %}
				</div>
			</div>

		</div>
		{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>