<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>FloPlace | {{CategoryName}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'web/img/favicon.ico' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="Description" content="Частное детективное агество в г. Хабаровск">
    <meta name="Keywords" content="Цветы, СПб, Питер"> 
    <meta property="og:title" content="FloPlace - Цветы Санкт-Петербург" /> 
    <meta property="og:description" content="FloPlace - Магазин по продаже качественных цветов в Санкт-Петербурге" /> 
    <meta property="og:image" content="{% static 'web/img/logo.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
</head>
<body>
	{% block content %}
		{% include 'include/header.html' %}

		<div class="wrapper">

			<div class="way">
				<a href="/">Главная</a> / <a href="/catalog">Каталог</a> / {{CategoryName}}
			</div>
			<div class="page-headline">
				{{CategoryName}}
			</div>
			<hr class="page-hr">
			<div class="product">
				{% for Flowers in Flowers %}
					<a href="/product/{{Flowers.id}}">
						<div class="product_card">
							<img src="{{Flowers.Image.url}}">
							<div class="product_card_panel">
								<div class="product_card_panel_name">
									{{Flowers.Name}}
								</div>
								<div class="product_card_panel_price">
									{{Flowers.Price}} ₽
								</div>
								<div class="product_card_panel_button">
									<form method="POST">
									{% csrf_token %}
										{% if Flowers.id in Product_in_basket %}
											<input name="button" type="submit" value="Добавлено" class="product_card_panel_button__btn">
										{% else %}
											<input type="hidden" name="id" value="{{Flowers.id}}">
											<input name="button" type="submit" value="В корзину" class="product_card_panel_button__btn">
										{% endif %}
									</form>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

		{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>