<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>FloPlace | Корзина</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="Description" content="Частное детективное агество в г. Хабаровск">
    <meta name="Keywords" content="Цветы, СПб, Питер"> 
    <meta property="og:title" content="FloPlace - Цветы Санкт-Петербург" /> 
    <meta property="og:description" content="FloPlace - Магазин по продаже качественных цветов в Санкт-Петербурге" /> 
    <meta property="og:image" content="{% static 'web/img/logo.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/mobile.css' %}">
</head>
<body>
	{% block content %}
		{% include 'include/header.html' %}
		<div class="wrapper">
			<div class="basket_empty__container">
					<div class="basket_empty_text_big">
						Спасибо за заказ!
					</div>
					<div class="basket_empty_text_small">
						Код вашего заказа: {{Code}}
					</div>
					<a href="/catalog/" class="button basket_empty_button">Перейти в каталог</a>
				</div>
		</div>
		{% include 'include/footer.html' %}
	{% endblock %}
</body>
</html>