{% load static %}
<script type="text/javascript" src="{% static 'web/js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="header">
	<input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <div class="header_container">
		<div class="header_logo">
			<a href="/">
				<img src="{% static 'web/img/logo.jpg' %}">
			</a>
		</div>
		<div class="header_menu">
			<div class="header_menu_nav">
				<a href="/" class="header_menu_nav__link">Главная</a>
				<a href="/catalog" class="header_menu_nav__link">Каталог</a>
				<a href="/payment" class="header_menu_nav__link">Оплата</a>
				<!-- <a href="#" class="header_menu_nav__link">Доставка</a> -->
				<a href="/contacts" class="header_menu_nav__link">Контакты</a>
			</div>
			<div class="header_menu_catalog" style="color: black;">
				{% for Category in CategoryMenuList %}
					<a href="/catalog/{{Category.id}}">{{Category.Name}}</a>
				{% endfor %}
			</div>
		</div>
		
		<div class="header_basket">
			<a href="/basket">
				<div class="header_basket__icon" style="background-image: url({% static 'web/img/icons/basket.png' %});"></div>
				<div class="header_basket_price">{{BasketPrice}} ₽</div>
			</a>
		</div>
			
	</div>
</div>