{% load static %}
<div id="popular">
	<div class="headline">
		Популярное
	</div>
	<div class="product">
		{% for Product in Popular %}
		<a href="/product/{{Product.id}}">
			<div class="product_card">
				<img src="{{Product.Image.url}}">
				<div class="product_card_panel">
					<div class="product_card_panel_name">
						{{Product.Name}}
					</div>
					<div class="product_card_panel_price">
						{{Product.Price}} ₽
					</div>
					<div class="product_card_panel_button">
						<input type="button" value="Перейти" class="product_card_panel_button__btn">
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
		
	</div>
</div>